{% extends "communities/base.html" %}

{% block title %}New Product{% endblock title %}

{% block content %}

{% csrf_token %}

<h2 class="pb-3 text-center">Add Product</h2>
<div class="card">
    <form method="POST" enctype="multipart/form-data" class="container py-3 center ">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center">
            <input class="btn btn-primary" type="submit" value="Add product">
        </div>
        </form>
</div>

{% endblock content %}