{% extends "communities/base.html" %}
{% block content %}
<h4>Your basket</h4>
      <ul class=“list-group”>
        {% for product in products %}
        <li class=“list-group-item d-flex justify-content-between”>
          <div>
            <img src=“../../../media/{{product.image}}” alt=“” />
            <h6>{{product.title}}</h6>
            <small>{{product.description}}</small>
          </div>
          <span>£{{product.price|floatformat:2}}</span>
        </li>
        {% endfor %}
        <li class=“list-group-item d-flex justify-content-between”>
          <span>Subtotal (GBP)</span>
          <strong>£{{subtotal|floatformat:2}}</strong>
        </li>
        <li class=“list-group-item d-flex justify-content-between”>
          <span>Total (GBP)</span>
          <strong>£{{total|floatformat:2}}</strong>
        </li>
      </ul>
<!-- Set up a container element for the button -->
<div id='paypal-button-container'></div>
<!-- Include the PayPal JavaScript SDK -->
<script src='https://www.paypal.com/sdk/js?client-id={{client_id}}&currency=GBP'></script>
<script>
    // Render the PayPal button into #paypal-button-container

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            }
        }).render('#paypal-button-container');
</script>

{% endblock %}
