{% extends "communities/base.html" %} {% block content %}
<h4>Your basket</h4>

<ul class="list-group">
  {% for product in products %}
  <li class="list-group-item d-flex justify-content-between">
    <div>
      <img src="../../../media/{{product.image}}" alt="" />
      <h6>{{product.title}}</h6>
      <small>{{product.description}}</small>
    </div>
    <span>£{{product.price}}</span>
  </li>
  {% endfor %}
  <li class="list-group-item d-flex justify-content-between">
    <span>Subtotal (GBP)</span>
    <strong>£{{subtotal}}</strong>
  </li>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total (GBP)</span>
    <strong>£{{total}}</strong>
  </li>
</ul>

<!-- <a class="link" href="{% url 'create-checkout-session' %}"
  ><button>Checkout</button></a
> -->

<form action="/create-checkout-session" method="POST">
  <button type="submit" id="checkout-button">Checkout</button>
</form>
{% endblock content %}


<!--note: might need js script. if so, see https://youtu.be/722A27IoQnk @20:40 mins -->

<!-- <script type="text/javascript">
    //create an instance of hte stripe object with your publishable API jey
    let stripe = Stripe("public key here");
    let checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", () => {
        fetch("/create-checkout-session", {
            method: "POST",
        })
        .then((response) => {
            return response.json();
        })
        .then((session) => {
            return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then((result) => {
            if(result.error){
                alert(result.error.message)
            }
        })
        .catch((error) => {
            console.error("Error:", error);
        });
    });
</script> -->