{% extends "communities/base.html" %}
{% block title %}Basket{% endblock title %}

{% block content %}
<h2 class="pb-3">Your basket</h2>
      <ul class="list-group">
        {% for product in products %}
        <li class="list-group-item d-flex justify-content-between">
          <div>
            <div class="product-image-basket">
              <img src="../../../media/{{product.image}}" alt="" />
            </div>
            <div class="d-flex justify-content-between">
                  <h6>{{product.title}}</h6>
                  <p>£{{product.price|floatformat:2}}</p>
            </div>
                <small>{{product.description}}</small>
          </div>
        </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
          <span>Subtotal (GBP)</span>
          <strong>£{{subtotal|floatformat:2}}</strong>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (GBP)</span>
          <strong>£{{total|floatformat:2}}</strong>
        </li>
      </ul>
<div class="btn-wrapper-right highlight hotspot">
<!-- Set up a container element for the button -->
<div id='paypal-button-container'></div>
<!-- Include the PayPal JavaScript SDK -->

{{ client_id | json_script:"not_client_id" }}
{{ merchant_id_in_paypal | json_script:"merchant_id" }}
{{ total | json_script:"total" }}

<script id="paypal_sdk_script" src='https://www.paypal.com/sdk/js?client-id=sb'></script>
<script>
  const passed_src = JSON.parse(document.getElementById('not_client_id').textContent);
  const merchant_id = JSON.parse(document.getElementById('merchant_id').textContent);
  // script_src = "https://www.paypal.com/sdk/js?client-id=" + passed_src + "&merchant-id=" + merchant_id + "&currency=GBP"
  script_src = 'https://www.paypal.com/sdk/js?client-id=ASDwZuNZr87gv5n7KDYYy2CMoFBmtz5wORvTA1x4cGn7iaOYMUUJwVQ8ULBoD3wbGjt0wCJSoMGqiAx6&merchant-id=GFNKNZWZHPRVA&currency=GBP'
  document.getElementById("paypal_sdk_script").setAttribute('src', script_src)
  console.log(document.getElementById("paypal_sdk_script"))
</script>
<script defer>
    const total = JSON.parse(document.getElementById('total').textContent);
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
          createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    alert("Thank you for your purchase!");
                    actions.redirect('http://localhost:8000/communities/my-communities/');
                })},
            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            }
        }).render('#paypal-button-container');
</script>


<!-- <div dir="ltr" style="text-align: left;" trbidi="on">
  <script>
    (function(d, s, id) {
      var js, ref = d.getElementsByTagName(s)[0];
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.async = true;
        js.src = "https://www.paypal.com/webapps/merchantboarding/js/lib/lightbox/partner.js";
        ref.parentNode.insertBefore(js, ref);
      }
    }(document, "script", "paypal-js"));
  </script> -->
  {{ action_url | json_script:"action-url" }}
  <!-- <script>
    function onboardedCallback(authCode, sharedId) {
      console.log("-------------------")
      console.log(authCode)
      console.log(sharedId)
      fetch('/seller-server/login-seller', {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify({
          authCode: authCode,
          sharedId: sharedId
        })
      }).then(function(res) {
        if (!response.ok) {
          alert("Something went wrong!");
        }
        else{

        }
      });
    }
  </script>
  <a id="link_for_action_url" target="_blank" data-paypal-onboard-complete="onboardedCallback" href="<Action-URL>&displayMode=minibrowser" data-paypal-button="true">Sign up for PayPal</a>
  <script id="paypal-js" src="https://www.sandbox.paypal.com/webapps/merchantboarding/js/lib/lightbox/partner.js"></script> -->
  <!-- <script>
    const value = JSON.parse(document.getElementById('action-url').textContent) + "&displayMode=minibrowser";
    console.log(value)
    action_url_link = document.getElementById("link_for_action_url")
    action_url_link.setAttribute('href', value)
  </script> -->




  <!-- <form id="get_form" action="" method="get" target="_blank">
    <button type="submit">Click me!</button>
  </form> -->
  <div id="cool_fella"></div>
  <!-- <a id="action_url_holder" data-paypal-button="true" href="" target="PPFrame">Sign up for PayPal</a> -->
  <!-- <script>
    const value = JSON.parse(document.getElementById('action-url').textContent);
    console.log(value)
    let newForm = document.createElement("FORM")
    newForm.id = "newForm"
    newForm.action = value + '&displayMode=minibrowser';
    newForm.method = "GET"
    let newButton = document.createElement("BUTTON")
    newButton.type = "submit"
    newButton.textContent = "CLick me!"
    newForm.append(newButton)
    const div = document.getElementById("cool_fella")
    div.append(newForm)
    </script> -->
</div>






{% endblock %}
