{% extends "communities/base.html" %} {% block title %} {{product}} 
{% endblock title %}{% block content %}
<div class="container px-0 py-3">
  <section class="text-center mb-2 d-flex flex-wrap align-items-stretch">
    <div class="col-12 mb-4 d-flex justify-content-between">
      <div class="card px-3 me-3 w-100">
        <h2>{{product}}</h2>
        <div class="product-image">
          <img
            class="py-2 pb-2"
            src="../../../../media/{{product.image}}"
            alt=""
          />
        </div>

        <div class="product-info">
          <p>
            <span>£{{product.price|floatformat:2}}</span>
          </p>
          <strong>Description:</strong>
          <p><strong>Description:  </strong>{{product.description}}</p>
          <form class="d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Add to basket</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
