{% extends "communities/base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="card">
    <form method="POST" class="container py-3">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center">
            <input class="btn btn-primary" type="submit" value="Login">
        </div>
        </form>
    <span class="d-flex justify-content-center">
        <a class="text-decoration-none" href="{% url 'signup' %}">Not yet registered?</a>
    </span>
</div>

{% endblock content %}