{% extends "communities/base.html" %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="card">
    <form method="POST" class="container py-3">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center">
            <input class="btn btn-primary" type="submit" value="Sign Up">
        </div>
        </form>
        <span class="d-flex justify-content-center">
            <a class="text-decoration-none" href="{% url 'login' %}">Already registered?</a>
        </span>
</div>

{% endblock content %}