{% extends "communities/base.html" %}

{% block content %}
<h2>{{community}}</h2>
<h4>Here are all the products available</h4>
<div class="container">
    <section class="text-center mb-4">
        {% for product in products %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <div>
                    <img src={{product.image}} alt="">
                    <span>Sold by {{product.user_id}}</span>
                </div>
                <div>
                    <a href="#">
                        <h5>{{product.title}}</h5>
                    </a>
                    <p>{{product.description}}</p>
                    <span><strong>Sold? {{product.sold_status}}</strong></span>
                    <h4><strong>{{product.price}}</strong></h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
<button type="submit"><a href="{% url 'add-product' community.id %}">+ Add Product</a></button>
{% endblock content %}