{% extends "communities/base.html" %}

{% block content %}
<h4>My Communities</h4>

<ul class="list-group">
    {% for community in communities %}
    <li class="list-group-item d-flex justify-content-between">
        <div>
            <a href="{% url 'community-page' community.id %}">{{community.name}}</a>
            <br>
            <span>{{community.description}}</span>
            <br>
            <small><em>Based in {{community.location}}</em>
                {% for member in members %}
                <!-- <span class="badge badge-secondary">{{member.community_id}}</span>
                                <span class="badge badge-secondary">{{community.name}}</span>
                                <span class="badge badge-secondary">{{member.member_role}}</span> -->
                    {% if community.name == member.community_id %}
                        <span class="badge badge-secondary">{{member.member_role}}</span>
                    {% else %}
                        <span></span>
                    {% endif %}
                    {% if member.member_role == "Admin" %}
                        <button type="submit"><a href="{% url 'pending-requests' community.id %}">Pending Requests</a></button>
                    {% endif %}
                {% endfor %}
            </small>
        </div>
    </li>
    {% endfor %}
</ul>
<button type="submit"><a href="{% url 'create-community' %}">+ Create Community</a></button>
{% endblock content %}