{% extends "communities/base.html" %}
{% block title %}Pending Requests{% endblock title %}

{% block content %}
{% for join_request in join_requests %}
<h2>{{join_request.community_id}}</h2>
<h4 class="pb-3">Here are all the pending requests</h4>
<div class="container">
    <section class="text-center mb-4">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card py-3">
                <span><strong>{{join_request.user_id}}</strong></span>
                <p>{{join_request.reason}}</p>
                <div class="d-flex justify-content-center mb-2">
                    <form method="POST">
                        {% csrf_token %}
                        {{ join_request.form.as_p }}
                        <input type="hidden" name="type" value="POST">
                        <input class="btn btn-primary mx-2" type="submit" value="Accept">
                        </form>
                        <form method="POST">
                            {% csrf_token %}
                            {{ join_request.form.as_p }}
                            <input type="hidden" name="type" value="DELETE">
                        <input class="btn btn-primary mx-2" type="submit" value="Decline">
                        </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock content %}